@import url('https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label,a{
	cursor: pointer;
}
.clr:after{
	content: "";
	clear: both;
	display: block;
}
a{
	text-decoration: none;
}
.mydiv {
	position: relative;
	transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
}
/*preloader*/
	.preloader{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		z-index: 1000;
	}
	.preloader_name{
		font-family: "Quantico";
		font-style: normal;
		font-weight: bold;
		font-size: 65px;
		line-height: 100px;
	}
	.preloader_item{
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 20px;
	}
	.preloader_row{
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		margin-left: -128px;
		margin-top: -60px;
		animation: preloader-rotate 1s linear infinite alternate;
	}
	@keyframes preloader-rotate{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.loaded_hiding .preloader {
		transition: 0.3s opacity;
		opacity: 0;
	}
	.loaded .preloader {
		display: none;
	}
	@media(min-width: 500px){
		.preloader_row{
			margin-left: -190px;
			margin-top: -85px;
		}
		.preloader_name{
			font-size: 96px;
			line-height: 137px;
		}
		.preloader_item{
			font-size: 32px;
			line-height: 32px;
		}
	}
/*firstScreen*/
	nav{
	    width: 90%;
	    margin: 0 auto;
	 }
	h1{
	 	font-family: "Quantico";
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 51px;
		float: left;
	 }
	.popup-checkbox, .popup {
		display: none;
	}

	.popup {
	  position: fixed;
	  z-index: 10;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	}
	.menu-item a {
      --fill-color: #000000;
      position: relative;
      display: block;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(90deg, var(--fill-color) 0%, var(--fill-color) 100%);
      background-size: 0;
      background-position: left;
      background-repeat: no-repeat;
      color: transparent;
      -webkit-background-clip: text;
      transition: 1.5s linear;
	}
	.menu-item a:hover {
		background-size: 100%;
	}
	.popup:before {
	  display: block;
	  content: ' ';
	  position: absolute;
	  z-index: 1;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #000;
	  opacity: .5;
	}
	.popup-content {
	  position: absolute;
	  z-index: 2;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  background-color: #fff;
	  padding: 20px;
	}

	.popup-shower {
	    padding: 25px 25px 25px 0;
	    float: left;
	}
	.popup-shower p{
		position: relative;
	    background: black;
	    width: 16px;
	    height: 2px;
	}

	.popup-shower:hover {
		color: #c3c3c3;
		text-decoration: none;
	}

	.popup-closer {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
	}
	.popup-closer:before{
		content: "";
		position: absolute;
		width: 20px;
		height: 1px;
		background-color: black;
		transform: rotate(45deg);
		top: 50%;
		right: 0;
	}
	.popup-closer:after{
		content: "";
		position: absolute;
		width: 20px;
		height: 1px;
		background-color: black;
		transform: rotate(-45deg);
		top: 50%;
		right: 0;
	}

	.popup-closer:hover {
		background-color: #eee;
	}
	.popup-checkbox:checked + .popup {
		opacity: 1;
		display: block;
	}
	.popup-shower p:before{
		content: "";
		position: absolute;
		background: black;
	    width: 28px;
	    height: 2px;
	    top: 6px;
	}
	.popup-shower p:after{
		content: "";
		position: absolute;
		background: black;
	    width: 28px;
	    height: 2px;
	    bottom: 6px;
	}
	.siteLanguage{
		float: right;
		display: flex;
	}
	.siteLanguage li{
		padding: 24px 13px 12px 0;
	}
	.siteLanguage li:last-child{
		padding: 24px 0 12px 0;
	}
	.siteLanguage a{
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 18px;
		line-height: 91%;
		color: #9E9E9E;
	}
	.siteLanguage li+li a{
		color: #000000;
	}
	.myFoto{
		width: 100%;
	}
	.myData{
	    width: 90%;
	    margin: 0 auto;
	    padding: 40px 0 20px;
	}
	.myName{
		font-family: "Montserrat";
		font-weight: 900;
		font-size: 48px;
		line-height: 85.3%;
	}
	.myName span{
		display: block;
	}
	.mySpecialty{
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		padding-top: 20px;
	}
	.contacts{
		display: flex;
	    align-items: flex-end;
	    flex-direction: column;
	    font-family: "Montserrat";
		font-weight: 600;
		font-size: 17px;
		line-height: 91.3%;
		position: absolute;
	    color: white;
	    bottom: 25px;
	    width: 90%;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	}
	.contacts a{
		color: white;
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 18px;
		line-height: 91.3%;
		padding: 8px 0 8px;
	}
	.contacts p{
		padding: 8px 0 8px;
	}

	.postOffice span{
		display: none;
	}

	.postOffice:hover span{
		display: inline;
	}
	.number span{
		display: none;
	}
	.number:hover span{
		display: inline;
	}
	.me{
		position: relative;
	}
/*secondScreen*/
	section{
		padding: 20px 0;
		width: 90%;
		margin: 0 auto;
	}
	h3{
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 12px;
		line-height: 142.3%;
		letter-spacing: 0.35em;
		position: relative;
		display: inline-block;
		padding:0 8px 0 0;
	}
	h3:after{
		content: "";
		position: absolute;
		left: 100%;
		width: 30px;
		height: 1px;
		background: #000000;
		top: 50%;
	}
	h2{
		font-family: "Montserrat";
		font-weight: 900;
		font-size: 28px;
		line-height: 91.3%;
		color: black;
	   -webkit-text-stroke: 1px black;
	   -webkit-text-fill-color: rgba(0,0,0,0);;
	   padding: 15px 0 25px;
	}
	h2 span{
		display: block;
	}
	.secondScreen p{
		max-width: 450px;
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 16px;
		line-height: 142.3%;
		padding: 0 15px 0 55px;
	}
/*thirdScreen*/
	.study{
		border-left: 1px solid black;
		padding: 5px 0 45px 24px;
		margin-left: 8px;
		position: relative;
		display: none;
	}
	.study:last-child{
		padding: 5px 0 0 20px;
	}
	.study p{
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 13px;
		line-height: 131.3%;
		padding-top: 20px;
		max-width: 165px;
	}
	.study p span{
		display: block;
		padding-bottom: 5px;
		font-weight: 700;
	}
	.study:before{
		content: "";
		position: absolute;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: radial-gradient(circle,  #000000 4px, #ffffff 4px,#ffffff 7px, #000000 7px);
		left: 0;
		top: 0;
		margin: 7px 0 0 -9px;
	}
	.myExperience{
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 16px;
		line-height: 142.3%;
		padding: 0 0 25px 55px;
	}
/*fourthScreen*/
	.fourthScreen p{
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 16px;
		line-height: 213.3%;
	}
	.fourthScreen p span{
		padding: 0 16px 0 24px;
	}
/*footer*/
	footer{
		padding: 20px 0 90px;
		width: 90%;
		margin: 0 auto;
	}
	.my{
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
	}
	.contactWrapper{
		padding: 16px 0 0 40px;
	}
	.number{
		background: url(../foto/sprites.png) no-repeat;
		background-position: 150px -4px;
	}
	.post{
		padding-top: 24px;

	}
	footer ul{
		display: flex;
	}
	footer li{
		margin: 40px 20px 0 0;
	}
	footer li:last-child{
		margin: 40px 0 0 0;
	}
	footer a{
		display: block;
		width: 18px;
		height: 18px;
		background: url(../foto/sprites.png) no-repeat;
		background-position: -1px -26px;
	}
	footer li+li a{
		background-position: -22px -26px;
	}
	footer li+li+li a{
		background-position: -42px -26px;
	}
@media(min-width: 900px){
	.section{
		height: calc(100vh - 160px);
		position: relative;
		padding: 80px 0;
	}
	.popup-shower p{
		background: white;
	}
	.popup-shower p:before{
		background: white;
	}
	.popup-shower p:after{
		background: white;
	}
	h1{
		color: white;
	}
	.siteLanguage li+li a{
		color: white;
	}
	.myFoto{
		display: none;
	}
	.firstScreen{
		background:url(../foto/MatyukhinAndreyDT.png);
		background-size: cover;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		height: 100vh;
	}
	.contacts{
		position: relative;
		bottom: 0;
		margin: 0;
		width: auto;
	}
	.me {
		position: absolute;
		bottom: 30px;
		right: 5%;
	}
	.myData{
		color: white;
		padding: 39px 0 35px;
	}
	.myName{
		font-weight: 900;
		font-size: 96px;
		line-height: 85.3%;
	}
	.mySpecialty{
		font-weight: 600;
		font-size: 32px;
		line-height: 32px;
	}
	h2{
		font-weight: 900;
		font-size: 50px;
		line-height: 45px;
		padding: 15px 0 50px;
	}
	.secondScreen p{
		font-size: 18px;
		padding: 0 15px 0 100px;
	}
	.wrapperForStudi{
		display: flex;
	}
	.ForStudi{
		padding: 35px 0;
	}
	.study{
		border-top: 1px solid black;
		padding: 26px 130px 0 0;
		border-left: none;
		margin: 0;
	}
	.study:last-child {
    padding: 26px 100px 0 0px;
	}
	.study:before{
		    margin: -9px 0 0 0px;
	}
	.mySkill{
		float: left;
		padding: 0 0 0 100px;
	}
	.contactWrapper{
		padding: 16px 0 0 130px;
	}
	.popup-content{
		padding: 60px 60px 60px 90px;
	}
	.myExperience{
		padding: 0 0 75px 0px;
	}

}
@media(min-width: 1200px){
	h2{
		font-size: 72px;
		line-height: 66px;
	}
	.ForStudi{
		padding: 35px 0 0 100px;
	}
	.section{
		height: calc(100vh - 280px);
		position: relative;
		padding: 140px 0;
	}
}
